* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: arial;
  }

main {
    padding-top: 50px;   
}

body, html, main{
    background-color: rgb(52, 52, 52);
    height: 100%;
    margin: 0;
    font-family: Arial;
}

.tablink {
    background-color: rgb(189, 189, 189);
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    font-size: 17px;
    width: 25%;
}

.tablink:hover {
    background-color: #777;
}

.tabcontent {
    text-align: center;
    color: white;
    display: none;
    padding: 100px 20px;
    height: 100%;
}

#clock {
    background-color: rgb(187, 74, 74);
}

#chrono {
    background-color: rgb(101, 167, 101);
}

#alarm {
    background-color: rgb(86, 86, 160);
}

#temp {
    background-color: rgb(196, 154, 77);
}

p{
    font-size: larger;
}

article > *{
    margin: 1%;
}

table, th, td, tr {
    border: 1px solid;
  }