@font-face {
    font-family: MenuFont;
    src: url(/rsc/fonts/Metropolis-Bold.otf);
}

@font-face {
    font-family: TextFont;
    src: url(/rsc/fonts/Inter-Bold.otf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: TextFont;
    font-size: 20px;
}


/* CSS header*/
header {
    position: sticky;
    top: 0;
    z-index: 1;
}

header nav button {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    margin: 0;
}

.tablink {
    font-family: MenuFont;
    float: left;
    border: 1px solid;
    cursor: pointer;
    padding: 14px 16px;
    font-size: 30px;
    width: 25%;
    border-radius: 0px;
}

button:hover {
    background-color: #143c85;
}


/* CSS body*/
body {
    background-color: #E3FFF3;
}

body, html, main {
    height: 100%;
    margin: 0;
}

body.dark-theme {
    color: #E3FFF3;
    background-color: #021814;
}

#darkMode {
    position: fixed;
    bottom: 1%;
    left: 1%;
}

.dark-theme img {
    filter: invert(100%);
}

.tabcontent {
    display: none;
    text-align: center;
    padding: 100px 20px;
    height: 100%;
}

h1 {
    font-size: 60px;
    text-align: center;
    font-family: MenuFont;
    padding-bottom: 20px;
}

img {
    width: 200px;
}

.timeOutput {
    font-size: 100px;
}

button {
    background-color: #0A214D;
    color: #ACF1FF;
    padding: 10px;
    border-radius: 8px;
    text-align: center;
    margin-left: 2px;
    margin-right: 2px;
}

article {
    display: flex;
    flex-direction: column;
}

section {
    display: flex;
    flex-direction: row wrap;
    justify-content: center;
}

article>* {
    margin: 1%;
}

.pauseButton {
    display: none;
    background-color: #800220;
    color: #FFE0E8;
}

.pauseButton:hover {
    background-color: #440307;
}


#alarmList {
    display: flex;
    flex-direction: column;
    font-size: 10px;
}

.alarmItem {
    margin-bottom: 15px;
    margin-top: 15px;
}

/* Media queries*/
@media all and (max-width: 850px) {
    nav {
        display: flex;
        flex-flow: column wrap;
        padding: 0;
    }

    .tablink {
        width: 100%;
    }

    h1 {
        font-size: 30px;
    }

    .timeOutput {
        font-size: 30px;
    }

    .tabcontent {
        padding: 30px 0px;
    }

    img {
        width: 100px;
    }

    button {
        padding: 2px;
        font-size: 15px;
    }

    .alarmItem {
        display: flex;
        flex-direction: column;
    }

    .alarmTimeElement {
        font-size: 30px;
        order: 1;
    }

    .alarmButtonsElement {
        order: 2;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    #temp>section {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    #temp>section>button {
        width: fit-content;
        padding: 3px;
        align-self: center;
        margin-bottom: 10px;
    }
}