/* Este .CSS sigue la guia de estilo de firefox basandose en la información de este enlace https://mozilla.design/firefox/ */

@font-face {
    font-family: MenuFont;
    src: url(/rsc/fonts/Metropolis-Bold.otf);
}

@font-face {
    font-family: TextFont;
    src: url(/rsc/fonts/Inter-Bold.otf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: TextFont;
    font-size: 20px;
}

/* CSS header*/
header {
    position: sticky;
    top: 0;
}

header nav button {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    margin: 0;
}

.tablink {
    font-family: MenuFont;
    float: left;
    border: 1px solid;
    cursor: pointer;
    padding: 14px 16px;
    font-size: 30px;
    width: 25%;
    border-radius: 0px;
}

.tablink:hover {
    background-color: rgb(69, 69, 69);
}


/* CSS body*/

body {
    background-color: #E3FFF3;
}

body, html, main {
    height: 100%;
    margin: 0;
}

body.dark-theme {
    color: #E3FFF3;
    background-color: #021814;
}

#darkMode {
    position: fixed;
    bottom: 1%;
    left: 1%;
}

.tabcontent {
    display: none;
    text-align: center;
    padding: 100px 20px;
    height: 100%;
}

h1 {
    font-size: 60px;
    text-align: center;
    font-family: MenuFont;
    padding-bottom: 20px;
}

img {
    width: 10%;
}

p {
    font-size: 100px;
}

button {
    background-color: #0A214D;
    color: #ACF1FF;
    padding: 10px;
    border-radius: 8px;
}

article {
    display: flex;
}

article>* {
    margin: 1%;
}

.pauseButton, #loopNumberElement {
    display: none;
}

/* Media queries*/
@media all and (max-width: 850px) {
    nav {
        display: flex;
        flex-flow: column wrap;
        padding: 0;
    }

    .tablink {
        width: 100%;
    }

    h1 {
        font-size: 30px;
    }

    p {
        font-size: 30px;
    }

    button, input {
        font-size: 20px;
    }

    .tabcontent {
        padding: 30px 0px;
    }
}